    <div class="panel">
    <div class="panel-heading">Admin : Message Management List</div>
    <div class="panel-body">
        <input type="text" placeholder="Use this to filter through the list" class="form-control" ng-model="messageFilter" />
    </div>
    <div class="panel adminPanel" ng-repeat="comm in controller.comms | filter: messageFilter">
        <div>
            <div class="panel-heading backgroundGradDarkSeaGreen">
                <strong>{{comm.recId}}</strong>
            </div>
            <div class="panel-heading backgroundGradDarkSeaGreen">
                <strong>{{comm.sendingUser}}</strong>
            </div>
            <div class="panel-heading backgroundGradDarkSeaGreen">
                <strong>{{comm.subject}}</strong>
            </div>
            <div class="panel-heading backgroundGradDarkSeaGreen">
                <strong>{{comm.dateSent | date : 'short' : timezone}}</strong>
            </div>
            <div class="panel-heading backgroundGradDarkSeaGreen">
                <strong>{{comm.msg}}</strong>
            </div>
        </div>

        <div class="panel-default">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-new-window adminPanelGlyph"></span> <a ng-href="{{comm.recId}}" target="_blank">{{comm.recId}}</a> <br />
                <span class="glyphicon glyphicon-user adminPanelGlyph"></span> {{comm.ownerName}}<br />
            </div>
        </div>
        <div class="panel-footer">
            <a ng-href="/editLink/{{comm.id}}" class=""><span class="glyphicon glyphicon-pencil text-info"></span></a>
            <a ng-href="/deleteLink/{{comm.id}}" class="pull-right"><span class="glyphicon glyphicon-remove text-danger"></span></a>
        </div>
    </div>
</div>


       
<!--from master
﻿<link href="/css/AboutStyleSheet.css" rel="stylesheet" />


<div class="panel-body">
    <a ng-href="/message/modal/messageModal" class="btn btn-danger">Compose New Message</a>
</div>

<div id="panel inboxPanel">
    <div class="panel inboxPanel" ng-repeat="comm in controller.comms">
        <div class="glyphicon-envelope"></div><a ng-href="/admin/messages/edit/{{comm.id}}" class="col-lg-offset-11"><span class="glyphicon-ok glyphicon text-info"></span></a>
        <div class="panel-heading">
            <em>Subject:</em> {{comm.subject}}<br />
        </div>
        <div class="panel-default">
            <em>To:</em> {{comm.recId}}<br />
            <em>From:</em> {{comm.sendingUser}}<br />
            <em>Reciever</em> {{comm.recievingUser}}<br />
            <em>Date</em> {{comm.dateSent}}<br />
            <em>Message</em> {{comm.msg}}<br />

        </div>
        <div>

            <a ng-href="/admin/messages/delete/{{comm.id}}" class="col-lg-offset-11"><span class="glyphicon-trash glyphicon text-danger"></span></a>
        </div>

    </div>
</div>  -->

