
<div class="panel panel-default col-md-10 col-md-offset-1 admin">
    <div class="panel-heading row">
        <div class="col-md-6">
            <h2 class="spirax colorDarkRed">Message Admin</h2>
        </div>
        <div class="col-md-6 form-inline">
            <div class="input-group  admin_filter_container">
                <input id="search" class="form-control" name="search" type="text" placeholder="Search for a message'" ng-model="searchTerm" />
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel message-cards" ng-repeat="comm in controller.comms | filter: searchTerm">
            <div class="panel-heading">
                <strong><span class="glyphicon glyphicon-envelope"></span> {{comm.subject}}</strong>
            </div>
            <div class="panel-body">
                <div class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span> <strong>Sent To: </strong> <br />{{comm.recId}}
                </div>
                <div class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span> <strong>Sent: </strong> {{comm.dateSent | date : 'short' : timezone}}<br />
                    <span class="glyphicon glyphicon-user"></span> <strong>Sent From: </strong> <br />{{comm.sendingUser}}
                </div>
            </div>
            <div class="panel-footer text-right">
                <a ng-href="/admin/messages/delete/{{comm.id}}"><span class="glyphicon glyphicon-trash text-danger"></span></a>
            </div>

        </div>
    </div>
</div>
