<div class="panel panel-default col-md-10 col-md-offset-1 admin">
    <div class="panel-heading row">
        <h2 class="spirax colorDarkRed">Verify Deletion</h2>
    </div>
    <div class="panel-body">
        Are you sure you wish to <span class="text-danger"><strong>delete</strong></span> {{controller.comm.recId}}'s message <em>{{controller.comm.subject}}</em>, sent on {{controller.comm.dateSent | date : 'short' : timezone}} ?
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" ng-click="controller.deleteCommById()">Yes-Delete</button>
    </div>
</div>
