<br />
<br />
<div class="container">
    <div id="inboxContainer" class="col-lg-8 col-lg-offset-2 img-rounded">
        <div class="row">
            <div id="messagesContainer" class="img-rounded shadowDark">
                <h2 id="inboxHeader"> Messages</h2>
                <!--Create a new Message-->
                <div class="container">
                    <a ng-href="/message/modal/messageModal" class="btn btn-danger">Compose New Message</a>
                </div>
                <br />
                <table class="table table-hover table-striped img-rounded">
                    <thread>
                        <tr class="alert-info">
                            <th>To</th>
                            <th>From</th>
                            <th>Subject</th>
                            <th>Reciever</th>
                            <th>Date</th>
                            <th>Message</th>
                            <th>View Message</th>
                        <tr>
                        </thread>
                    <thread>
                        <tbody>
                            <tr class="info" ng-repeat="comm in controller.comms">
                                <td>{{comm.recID}}</td>
                                <td>{{comm.sendingUser}}</td>
                                <td>{{comm.subject}}</td>
                                <td>{{comm.recievingUser}}</td>
                                <td>{{comm.dateSent}}</td>
                                <td>{{comm.msg}}</td>
                                <td><a ng-href="/message/message/{{comm.id}}" class="btn btn-primary">Message Detail</a></td>
                            </tr>
                        </tbody>
                    </thread>
                    
                       
                </table>
            </div>
        </div>
   
    </div>
</div>


