
<div style=" margin-top:40px;" class="col-md-2 col-lg-offset-2 img-rounded"><a href="/message/inbox">Back To Inbox</a></div>
<div class="container">
    <div style="border:solid; background-color:#7c3db6; margin-top:40px; padding-left:40px; padding-right:40px; padding-bottom:20px; " class="col-lg-8 col-lg-offset-2 img-rounded">
        <div class="row">
            <div style="background-color:darkgray; margin-top:20px; padding-left:5px; padding-bottom:5px;" class="img-rounded">
                <h3 style="font-family:Audiowide; color:black; display:inline;">{{controller.messageDetails.subject}}</h3>
                <img class="pull-right" style="padding-right:5px; display:inline;" width="40" height="40" src="../../images/mail-inbox.png" />
            </div>
            <br />
            <div style="border:solid; background-color:burlywood; margin-top:15px; padding-left:10px; " class=" img-rounded">
                <p style="color:black">{{controller.messageDetails.message}}</p>
                <br />
                <div style="font-family:Audiowide; padding-bottom:20px;">
                    <h6 style="font-family:Audiowide;">From:<strong>{{controller.messageDetails.sendingUser}}</strong></h6>
                    <h6 style="font-family:Audiowide;">{{controller.messageDetails.dateSent | date:'MM/dd/yyyy h:mma'}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>