<div class="post toppadding20">
    <h2>Add A Post</h2>
    <form ng-submit="controller.save()">
        <div>
            <label>Title:</label>
            <input placeholder="Title" ng-model="controller.post.title" />
        </div>
        <div>
            <label>Description:</label>
            <input placeholder="Description" ng-model="controller.post.discription" />
        </div>
        <div>
            {{post.userName}}
        </div>
        <input type="submit" class="btn" value="Add Post" />
    </form>
</div>