<div class="panel panel-default col-md-10 col-md-offset-1 admin">
    <div class="panel-heading row">
        <div class="col-md-6">
            <h2 class="spirax colorDarkRed">Posts Admin</h2>
        </div>
        <div class="col-md-6 form-inline">
            <div class="input-group  admin_filter_container">
                <input id="search" class="form-control" name="search" type="text" placeholder="Search for a post'" ng-model="searchTerm" />
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!--admin doesn't need to add right now <a href="/interest/add" class="btn btn-success"> Add Inerest </a>-->
        <div class="panel post-cards" ng-repeat="post in controller.posts | filter: searchTerm">
            <div class="panel-heading">
                <strong>{{post.title}}</strong>
            </div>
            <div class="panel-body">
                {{post.discription}}
            </div>
            <div class="panel-footer text-right">
                <div class="pull-left">By <em>{{post.userName}}</em></div>
                <a ng-href="/admin/post/delete/{{post.id}}"><span class="text-danger glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>
