<h1>Edit Post</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="jumbotron" ng-submit="controller.savePost()">
            <div>
                <label>Title</label>
                <input class="form-control control-label" ng-model="controller.post.title" />
            </div>
            <div>
                <label>Discription</label>
                <input class="form-control control-label" ng-model="controller.post.discription" />
            </div>
            <center><a id="editpostbutton" ng-click="controller.savePost()" class="btn">Edit Post</a></center>
        </form>
    </div>
</div>