<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default" ng-repeat="post in controller.posts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h3 class="panel-title">{{post.title}}</h3></center>
                </div>
                <div class="panel-body">
                    <center>{{post.discription}}</center>
                </div>
                <center>
                    <a id="posteditingbutton" ng-href="/editPost/{{post.id}}" class="btn">Edit Post</a> &nbsp;
                    <a id="postdeletebutton" ng-href="/deletePost/{{post.id}}" class="btn">Delete Post</a>
                </center>
            </div>
        </div>
    </div>
</div>
