<div class="adminDash posts">
    <h3>Post Management</h3>
    <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="post in controller.posts">
            <div class="panel-heading" role="tab" id="post{{post.id}}">
                <h4 class="panel-title">
                    {{post.title}} <span class="small">by <em>{{post.userName}}</em></span>
                    <a class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePost{{post.id}}" aria-expanded="false" aria-controls="collapsePost{{post.id}}">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapsePost{{post.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="post{{post.id}}">
                <div class="panel-body">
                    {{post.discription}}
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a ui-sref="postAdmin">See more posts <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</div>
