<div class="postPage">
    <div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-2">
                        <h2>Posts</h2>
                    </div>
                    <div class="col-md-2 toppadding20">
                        <span ng-show="account.isLoggedIn()"><a id="addpostbtn" ng-href="/post/add" class="btn btn-primary">Add Post</a></span>
                    </div>
                    <div class="col-md-8 toppadding20">
                        <input class="form-control control-label container searchFilter" name="search" type="text" placeholder="Search for post" ng-model="searchTerm" />
                    </div>
                </div>
                <div class="panel panel-default" ng-repeat="post in controller.posts | filter: searchTerm">
                    <div class="panel panel-default" id="publicPosts">
                        <div class="panel-heading" id="publicPostsHeader">
                            <center><h3 class="panel-title">{{post.title}}</h3></center>
                        </div>
                        <div class="panel-body">
                            <center>{{post.discription}}</center>

                            <div ng-if="account.getUserName()==post.userName">
                            <span> <a class="btn btn-info" ng-href="/post/edit/{{post.id}}">Edit Post</a></span>
                            <span> <a class="btn btn-danger" ng-href="/post/delete/{{post.id}}">Delete Post</a></span>

                            </div>
                        </div>
                        <div class="panel-footer">
                            <strong>By:</strong> <em>{{post.userName}}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
