<h1>Posts</h1>

<div>
    <span ng-show="account.isLoggedIn()"><a id="addpostbtn" ng-href="/post/add" class="btn">Add Post</a></span>

    <span ng-hide="!account.isLoggedIn()"><a id="login" href="/login"> </a></span>
</div>


<div class="talkingmoms">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" ng-repeat="post in controller.posts">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">{{post.title}}</h3></center>
                    </div>
                    <div class="panel-body">
                        <center>{{post.discription}}</center>


                        <div>
                            <span ng-show="account.isLoggedIn()"><a id="addpostbtn" ng-href="/editPost/{{post.id}}" class="btn">Edit Post</a></span>

                            <span ng-hide="!account.isLoggedIn()"><a id="login" href="/login"> </a></span>
                            
                            <span ng-show="account.isLoggedIn()"><a id="addpostbtn" ng-href="/DeletePost/{{post.id}}" class="btn">Delete Post</a></span>

                            <span ng-hide="!account.isLoggedIn()"><a id="login" href="/login"> </a></span>
                        </div>

                      
                        <div ng-if="post.userName"> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
