body{
    background-color: #ffffff

}


#searchable {
    border-width: 8px;
    border-style: ridge;
    border-color: #58795a;

}

/* gradient header - white to darkseagreen */
.backgroundGradDarkSeaGreen {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ba790+0,b6d6c0+53,e1f7e7+100 */
background: #7ba790; /* Old browsers */
background: -moz-linear-gradient(top,  #7ba790 0%, #b6d6c0 53%, #e1f7e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7ba790 0%,#b6d6c0 53%,#e1f7e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7ba790 0%,#b6d6c0 53%,#e1f7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ba790', endColorstr='#e1f7e7',GradientType=0 ); /* IE6-9 */
}
#searchable .table>tbody>tr>td { border-top: 1px dashed #e4ae6e; }
#messageList .table>tbody>tr>td { border-top: 1px dashed #e4ae6e; }
#messageList .table-striped>tbody>tr:nth-of-type(odd) { background-color: transparent; }
#messageList .table>tbody>tr.info>td { background-color: transparent; }

#adminbox {
    text-align: center;
    vertical-align: middle;

}

input {
    background-color: #f9f9f9
}


thead {
    background-color: #58795a
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #7ba790;

}


.activityFormPage {
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 8px;
    border-color: #58795a;
    border:ridge;
    text-align: center;
    vertical-align: middle;
    
}

#activityLabel {
    text-align:center;
    vertical-align: middle;
    display:inherit;
}

#activityList {
    margin-top: 10px;
    border: double;
    border-color: #58795a;
    border-width: 8px;
    width: 30%;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-wrap:normal;
    background-color: #7ba790;
    /*color: #f9f9f9*/
}