<div class="editProfilePage">
    <div class="col-md-6 col-md-offset-3 editProfileForm">
        <!-- left sidebar -->
        <div>
            <div class="img-rounded">
                <center>
                    <a href="http://gravatar.com" target="_blank">
                        <img id="editProfileAvatar" class="img-circle" ng-src="https://www.gravatar.com/avatar/{{controller.user.userImage}}?r=g&d=identicon" />
                    </a>
                </center>
                <center><h4><label id="editAvatar"><b>Edit Avatar</b></label></h4></center>
                <br />
                <div id="editProfileInputs">
                    <div class="profileinfo">
                        <form ng-submit="controller.saveUser()">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control control-label container" placeholder="First Name" ng-model="controller.user.firstName" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control control-label container" placeholder="Last Name" ng-model="controller.user.lastName" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input class="form-control control-label container" placeholder="Location" ng-model="controller.user.location" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div class="form-group">
                                    <label>About</label>
                                    <input class="form-control control-label container" placeholder="About" ng-model="controller.user.about" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div class="form-group">
                                    <label>Job Title</label>
                                    <input class="form-control control-label container" placeholder="Job Title" ng-model="controller.user.currentJobTitle" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div class="form-group">
                                    <label>Employer</label>
                                    <input class="form-control control-label container" placeholder="Employer" ng-model="controller.user.employer" />
                                    <div id="editProfilePencil"><span class="glyphicon glyphicon-pencil pull-right"></span></div>
                                </div>
                                <div>
                                    <input class="btn btn-success" type="submit" value="Edit" />
                                </div>
                            </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>