<div id="searchPanel" class="panel panel-default col-md-10 col-md-offset-1">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>UserAdmin</h3></div>
    <div class="panel-body">
        <p>
            <label>Search</label>
            <!--<input type="text" placeholder="Search for a connection" ng-model="controller.username" />
    <button type="button" ng-click="controller.userByUsername()">Search</button>-->
            <input class="form-control control-label" type="text" placeholder="Search for a user" ng-model="searchTerm" />
        </p>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Job Title</th>
                <th>Employer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in controller.users | filter: searchTerm">
                <td>{{user.userName}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.location}}</td>
                <td>{{user.currentJobTitle}}</td>
                <td>{{user.employer}}</td>
                <td>
                    <a class="btn btn-primary" ng-href="/admin/user/edit/{{user.userName}}">Edit</a>
                    <a class="btn btn-danger" ng-href="/admin/user/delete/{{user.userName}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>