<h1>Profile</h1>
<h3>Information</h3>
<ul>
    <li><img ng-src="https://www.gravatar.com/avatar/{{controller.user.userImage}}?r=g&d=identicon" /></li>
    <li>{{controller.user.firstName}} {{controller.user.lastName}}</li>
    <li>{{controller.user.email}}</li>
    <li>{{controller.user.location}}</li>
    <li>{{controller.user.about}}</li>
    <li>{{controller.user.currentJobTitle}}</li>
    <li>{{controller.user.employer}}</li>
</ul>
<h3>My Interests</h3>
<ul>
    <li ng-repeat="interest in controller.interests">{{interest.name}} <a href="#" ng-click="controller.removeInterest(interest.id)">x</a></li>
</ul>
<div ng-include="'/ngApp/views/interest/inc-addInterest.html'"></div>

<h3>Actions</h3>
<ul>
    <li><a href="/editProfile">Edit Profile</a></li>
    <li><a href="/calendar">Show My Playdates</a></li>
</ul>
