<div class="profilePage profile">
    <div class="row">
        <div class="col-md-3">
            <!-- left sidebar -->

            <div class="leftProfileBar img-rounded">
                <center><img class="img-circle" id="gravatarImg" ng-src="https://www.gravatar.com/avatar/{{controller.user.userImage}}?r=g&d=identicon" /></center>
                <center><h2 class="profileName">{{controller.user.firstName}} {{controller.user.lastName}}</h2></center>
                <br />
                <div>
                    <div class="profileinfo">
                        <ul>
                            <li><strong>Email: {{controller.user.email}}</strong></li>
                            <li><strong>Bio:</strong> {{controller.user.about}}</li>
                            <li><strong>Location:</strong> {{controller.user.location}}</li>
                            <li><strong>Job Title:</strong> {{controller.user.currentJobTitle}}</li>
                            <li><strong>Employer:</strong> {{controller.user.employer}}</li>
                        </ul>
                    </div>
                    <div class="profileEditBtn">
                        <center><a id="profileEditBtn" class="btn btn-primary" href="/editProfile">Edit Profile</a></center>
                    </div>
                    <div class="profileDeleteBtn">
                        <center><a id="profileDeleteBtn" class="text-danger" href="/deleteProfile">Delete Account</a></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-3 panel" id="littleBack">
            <div class="panel-body" id="inLittleBack">
                <div class="col-md-3 interestLinks">
                    <div id="profileIntrests" ng-include="'/ngApp/views/interest/inc-profileList.html'"></div>
                    <div ng-include="'/ngApp/views/links/inc-profileList.html'"></div>
                </div>
                <div class="col-md-5 activitiesList">
                    <div ng-include="'/ngApp/views/activityForum/inc-profileList.html'"></div>
                </div>
                <div class="col-md-3 pull-right connectionsEvents">
                    <div ng-include="'/ngApp/views/calendar/inc-profileList.html'"></div>
                    <div ng-include="'/ngApp/views/connection/inc-profileList.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>


