body{
    background-color:  #d1cec7 

}
#aminEdge{
    border-width: 8px;
    border-style: ridge;
    border-color:  #e4ae6e

}

#adminMeg{
    border-width: 8px;
    border-style: ridge;
    border-color: #b83a07

}

#adminbox {
    text-align: center;
    vertical-align: middle;

}


thead {
    background-color: #58795a
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #7ba790;

}


#activityForm {
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 8px;
    border-color: #58795a;
    border:ridge;
    text-align: center;
    vertical-align: middle;
    
}

label {
    text-align:center;
    vertical-align: middle;
    display:inherit;
}

#activityList {
    margin-top: 10px;
    border: ridge;
    border-color: #58795a;
    border-width: 8px;
    width: 30%;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-wrap:normal;
    background-color: #7ba790;
} {
}
