

<center>
    <form ng-submit="controller.saveComm()">

        <div class="col-xs-6 col-sm-offset-3">
            <div class="w3-card">

                <div class="backgroundSandyBrown">
                    <header class="w3-container">
                        <h1>Send Message</h1>
                    </header>
                </div>
                <br />
                <div class="w3-container">
                    <div class="col-sm-12">

                        <div>
                            <div class="form-group">
                                <label>To</label>
                                <input type="text" class="form-control" ng-model="controller.comm.recId" placeholder="User Name" />
                                <label>Subject</label>
                                <input type="text" class="form-control" ng-model="controller.comm.subject" placeholder="Subject" />
                                <label>Message</label>
                                <textarea cols="12" rows="6" class="form-control" ng-model="controller.comm.msg" placeholder="Enter Message..."></textarea>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Send" />
                        <button type="button" class="btn btn-default" ng-click="controller.exit()">Cancel</button>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>
</center>

