<div class="profileInterestList">
    <h3>My Interests</h3>
    <ul>
        <li ng-repeat="interest in controller.interests">{{interest.name}} <a href="#" ng-click="controller.removeInterest(interest.id)">x</a></li>
    </ul>

    <div class="interestAddForm">
        <form ng-submit="controller.addInterest()">
            <div>
                <input placeholder="name" ng-model="controller.interest.name" />
            </div>

            <input type="submit" class="btn btn-info" value="Add A New Interest" />
        </form>
    </div>
</div>