<div id="profileInterest" class="img-rounded">
    <div>
    <div class="interestList">
        <center><h4>Interests</h4></center>
        <ul>
            <li ng-repeat="interest in controller.interests">{{interest.name}}&nbsp;<a class="glyphicon glyphicon-trash pull-right text-danger" href="#" ng-click="controller.removeInterest(interest.id)"></a></li>
        </ul>
    </div>

    <div class="addInterestForm">
        <form ng-submit="controller.addInterest()">
            <div class="col-md-10 col-md-offset-1">
                <center><input class="form-control" id="interestInput" type="text" placeholder="Name" ng-model="controller.interest.name" /></center>
            </div>

            <center><input id="interestSubmit" type="submit" class="btn btn-default" value="Add Interest" /></center>
        </form>
    </div>
</div>
</div>