<div class="panel panel-default col-md-10 col-md-offset-1 admin">
    <div class="panel-heading row">
        <div class="col-md-6">
            <h2 class="spirax colorDarkRed">Interest Admin</h2>
        </div>
        <div class="col-md-6 form-inline">
            <div class="input-group  admin_filter_container">
                <input id="search" class="form-control" name="search" type="text" placeholder="Search for a user's interest'" ng-model="searchTerm" />
            </div>
        </div>
    </div>
    <div class="text-left">
        <span class="glyphicon glyphicon-menu-left"></span><a href="/admin"><em> Back to Admin Page</em></a>
    </div>
    <div class="panel-body">
        <!--admin doesn't need to add right now <a href="/interest/add" class="btn btn-success"> Add Inerest </a>-->
        <div class="panel interest-cards" ng-repeat="interest in controller.interest | filter: searchTerm">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span> {{interest.userName}}
            </div>
            <div class="panel-body">
                {{interest.name}}
            </div>
            <div class="panel-footer text-right">
                <a ng-href="/admin/interest/edit/{{interest.id}}" class="admin-edit"><span class="text-info glyphicon glyphicon-pencil"></span></a> 
                <a ng-href="/admin/interest/delete/{{interest.id}}"><span class="text-danger glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>


