<h2>Interest</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Name</th> 
            <th colspan="2">Actions</th>  
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="interest in controller.interest">
            <td>{{interest.userName}}</td>
            <td>{{interest.name}}</td>
            <td><a ng-href="/admin/interest/edit/{{interest.id}}" class="btn btn-primary"> Edit</a></td>
            <td><a ng-href="/admin/interest/delete/{{interest.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>

</table>
<!--admin doesn't need to add right now <a href="/addInterest" class="btn btn-success"> Add Inerest </a>-->
