<link href="../../css/AboutStyleSheet.css" rel="stylesheet" />

<form style="margin-top:15px" class="list-group-item-text">
    <div>
        <center><img src="../../images/LogoDesign-01.png" width="400" height="175" /></center>
    </div>
</form>

<div>
        <p>In this fast-paced world, the professional mother has many hats to wear mom, provider, employee, leader, and teacher to name just a few.  How do they keep it all together, how do they strike a balance with the demands of their professional and personal lives?</p>
</div>
        <p>With the Working Mothers Connection (WoMoCo) the professional mother can conne
            <a href="about.html">about.html</a>ct with other professional moms and share their experiences, give tips, network or just find out where they can get their hair done or a good mani-pedi!</p>

        <p>
    The WoMoCo team, through personal experiences and polling professional women, have come to see that there is a need for a place where professional mother can come together, collaborate, or just find a good babysitter for that much-needed night out with their special someone.
</p>


<p>
    "Can I just get the address of a good hairdresser, my head is wack!""
</p>
<p> 
    -Shelley T.
 </p>
<p>
    "I need someone to take these kids for a few hours, momma needs her personal time!"
</p>
<p>
    -Tara H. <img src="../../images/Tara.jpg" width="150" height="150" /> 
</p>


<div class="col-sm-6 col-md-2" >
    
    <div class="bioPic">
        <div class="card">
            <a href="/bios/stephenBoatman" class="btn">
                <img src="../../images/Stephen1.jpg" alt="Avatar" style="width:100%" height="400" />
                <div class="overlay">
                    <div class="middle">
                        <div class="text">
                            <h4><b>Stephen C. Boatman</b></h4>
                            <p>Software Developer</p>
                            <p>Bio</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>

<div class="col-sm-6 col-md-2">
    <div class="bioPic">
        <div class="card">
            <a href="/bios/hiwotDemssie" class="btn">               
                <img src="../../images/hiwotdemssie.jpg" style="width:100%" height="400" />
                <div class="overlay">
                    <div class="middle">
                        <div class="text">
                            <h4><b>Hiwot "MiMi" Demssie</b></h4>
                            <p>Software Developer</p>
                            <p>Bio</p>
                        </div>>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-2">

    <div class="bioPic">
        <div class="container">
            <div class="card">
                <a href="/bios/dorothyLee" class="btn">
                    <img src="../../images/dorthy.jpg" alt="Avatar" style="width:100%" height="400" />
                    <div class="overlay">
                        <div class="middle">
                            <div class="text">
                                <h4><b>Dorothy Lee</b></h4>
                                <p>Software Developer</p>
                                <p>Bio</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-6 col-md-2">

    <div class="bioPic">
        <div class="container">
            <div class="card">
                <a href="/bios/donnaRyan" class="btn">
                    <img src="../../images/donnaryan.jpg" alt="Avatar" style="width:100%" height="400" />
                    <div class="overlay">
                        <div class="middle">
                            <div class="text">
                                <h4><b>Donna Ryan</b></h4>
                                <p>Software Developer</p>
                                <p>Bio</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-6 col-md-2">

    <div class="bioPic">
        <div class="container">
            <div class="card">
                <a href="/bios/chanceMyer" class="btn">                    
                    <img src="../../images/Chance_The_Rapper Offical Tumblr.jpg" alt="Avatar" style="width:100%" height="400" />
                    <div class="overlay">
                        <div class="middle">
                            <div class="text">
                                <h4><b>Chance Myer</b></h4>
                                <p>Software Developer</p>
                                <p>Bio</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-6 col-md-2">

    <div class="bioPic">
        <div class="container">
            <div class="card">
                <a href="/bios/joshSchmuck" class="btn">                    
                    <img src="../../images/josh.schmuck.jpg" alt="Avatar" style="width:100%" height="400" />
                    <div class="overlay">
                        <div class="middle">
                            <div class="text">
                                <h4><b>Josh Schmuck</b></h4>
                                <p>Software Developer</p>
                                <p>Bio</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>