<div class="top-padding"></div>
<div class="logoContainer">
    <img src="/images/LogoDesign-01.png" class="aboutLogo" />
</div>
<!-- mission statement -->
<div class="backgroundWhite missionContainer">
    <h2 class="spirax colorDarkRed">Our Mission Statement</h2>
    <div class="text-left top-border-brown">
        Working Mother's Online (<span class="spirax colorDarkRed">WoMoCo</span>) seeks to create and provide a community for working mothers, to build a virtual neighborhood of women who are strong and caring. We are using technology to create human connections centered around what is most important to a mother - their children.
    </div>
</div>

<!-- team -->
<div class="teamContainer">
    <h2 class="spirax">Our Team</h2>
    <div class="top-border-brown">
        <div class="list-group">
            <div class="list-group-item">
                <div class="teamMemberImage">
                    <img src="/images/stephenboatman.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Stephen Boatman<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/scboatman" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/stephen-c-boatman-7816967"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>

            <div class="list-group-item">
                <div class="teamMemberImage">
                    <img src="/images/hiwotdemssie.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Hiwot "MiMi" Demssie<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/hdemssie" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/hiwot-demssie-27391349"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>

            <div class="list-group-item">
                <div class="teamMemberImage">
                    <img src="/images/dorthy.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Dorothy Lee<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/obsydianwind" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/dorothy-m-lee"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>

            <div class="list-group-item">
                <div class="teamMemberImage">                    
                    <img src="../../images/chanceMeyer.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Chance Meyer<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/ChanceMeyer" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/chance-meyer-4a9aa1132"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>

            <div class="list-group-item">
                <div class="teamMemberImage">
                    <img src="/images/donnaryan.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Donna Ryan<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/drehmke" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/drehmke"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>

            <div class="list-group-item">
                <div class="teamMemberImage">
                    <img src="/images/joshschmuck.jpg" class="img-circle" />
                </div>
                <div class="teamMember">
                    Josh Schmuck<br />
                    Software Developer
                </div>
                <div class="teamMemberContacts">
                    <a href="https://github.com/joshschmuck" target="_blank"><img src="/images/social_icons/github.svg" class="greyscaleImage" /></a>
                    <a href="https://www.linkedin.com/in/joshschmuck"><img src="/images/social_icons/linkedin.svg" class="greyscaleImage" /></a>
                </div>
            </div>
         </div>
    </div>
</div>