<div class="parallax img01"></div>
<div class="slider01">
    <div>
       <h1><img align="middle" src="../../images/parallax/knots-small.png"/>You work harder than the average person!<img align="right" src="../../images/parallax/knots-small.png"/></h1>
    </div>
</div>
<div class="parallax img02"></div>
<div class="slider02 backgroundFireBrick" >
    <h2>Your raising a family while you climb the ladder.</h2>
</div>
<div class="parallax img03"></div>
<div class="slider01">
    <h3>You are not alone...connect and share experiences with other mothers on that same path.</h3>
</div>