<div class="parallax parallax100 img01">

    <div class="callout">
        <span class="darkGrey">You need balance</span>
    </div>
    <div class="scrolldown"><span class="glyphicon glyphicon-chevron-down"></span></div>

</div>
<div class="slider01">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/parallax/knots-small.png" />
        </div>
       <div class="col-md-12">
           You've moved. You have a new job. You are going back to work after maternity leave. You need a night out. You need daycare. You need a playdate, or just a glass of win with someone who understands.
       </div>
    </div>
</div>
<div class="parallax parallax75 img02">
    <div class="callout">
        <span class="backgroundGray555">You need WoMoCo</span>
    </div>
</div>
<div class="slider02 backgroundGray75" >
    <div class="row">
        <div class="col-md-12">
            <img src="/images/parallax/knots-small.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offest-1">
            <div class="featureGlyphy"><span class="glyphicon glyphicon-user"></span></div>
            <div class="featureHeading"><h3>Connections</h3></div>
            <div class="featureDescription">
                WoMoCo is built around connections. Find other moms in your area, in your company or connect with someone new! 
            </div>
        </div>
        <div class="col-md-2 col-md-offest-1">
            <div class="featureGlyphy"><span class="glyphicon glyphicon-user"></span></div>
            <div class="featureHeading"><h3>Messaging</h3></div>
            <div class="featureDescription">
                WoMoCo is built around connections. Find other moms in your area, in your company or connect with someone new!
            </div>
        </div>
        <div class="col-md-2 col-md-offest-1">
            <div class="featureGlyphy"><span class="glyphicon glyphicon-user"></span></div>
            <div class="featureHeading"><h3>Activities</h3></div>
            <div class="featureDescription">
                WoMoCo is built around connections. Find other moms in your area, in your company or connect with someone new!
            </div>
        </div>
        <div class="col-md-2 col-md-offest-1">
            <div class="featureGlyphy"><span class="glyphicon glyphicon-user"></span></div>
            <div class="featureHeading"><h3>Posts</h3></div>
            <div class="featureDescription">
                WoMoCo is built around connections. Find other moms in your area, in your company or connect with someone new!
            </div>
        </div>
    </div>
</div>
<div class="parallax parallax50 img03"></div>
