<!--<fieldset>
    <legend>Login with a Social Provider</legend>

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>-->

<div class="col-md-6 col-md-offset-3">
    <fieldset class="jumbotron">
        <h3>Login</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" ng-repeat="error in controller.validationMessages">
                {{error}}
            </li>
        </ul>

        <form ng-submit="controller.login()">
            <div class="form-group">
                <label>User Name</label>
                <input class="form-control control-label" placeholder="User Name" ng-model="controller.loginUser.userName" />
            </div>
            <div>
                <label>Password</label>
                <input class="form-control" type="password" placeholder="Password" ng-model="controller.loginUser.password" />
            </div>
            <input class="btn btn-primary" type="submit" value="Login" />
            <a class="btn btn-link" href="/register">Register</a>
        </form>
    </fieldset>
</div>
