<!--<h1>Register</h1>

<fieldset>
    <legend>Register with a Social Provider</legend>
    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
        </li>
    </ul>

</fieldset>-->

<div class="col-md-6 col-md-offset-3">
    <fieldset class="jumbotron">
        <h3>Register</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success" ng-repeat="message in controller.validationMessages">
                {{message}}
            </li>
        </ul>

        <form ng-submit="controller.register()">
            <div>
                <label>User Name</label>
                <input class="form-control control-label" placeholder="User Name" ng-model="controller.registerUser.userName" />
            </div>
            <br />
            <div>
                <label>Password</label>
                <div>
                    <input id="registerPassword" class="form-control control-label" type="password" placeholder="Password" ng-model="controller.registerUser.password" />
                    <input id="confirmPassword" class="form-control control-label" type="password" placeholder="Confirm Password" ng-model="controller.registerUser.confirmPassword" />
                </div>
            </div>
            <br />
            <div>
                <label>Email</label>
                <input class="form-control control-label" placeholder="Email" ng-model="controller.registerUser.email" />
            </div>
            <br />
            <div>
                <label>Name</label>
                <input class="form-control control-label" placeholder="First Name" ng-model="controller.registerUser.firstName " />
                <input class="form-control control-label" placeholder="Last Name" ng-model="controller.registerUser.lastName" />
            </div>
            <br />
            <div>
                <label>Zip Code</label>
                <input class="form-control control-label" placeholder="Zip Code" ng-model="controller.registerUser.location" />
            </div>
            <br />
            <div>
                <label>Employer</label>
                <input class="form-control control-label" placeholder="Employer" ng-model="controller.registerUser.employer" />
            </div>
            <br />
            <div>
                <label>Job Title</label>
                <input class="form-control control-label" placeholder="Job Title" ng-model="controller.registerUser.currentJobTitle" />
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Register" />
        </form>

    </fieldset>
</div>
