<!--<h1>Register</h1>

<fieldset>
    <legend>Register with a Social Provider</legend>
    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
        </li>
    </ul>

</fieldset>-->

<div class="top-padding70">
    <div class="col-md-6 col-md-offset-3">
        <fieldset class="jumbotron">
            <h3>Register</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success" ng-repeat="message in controller.validationMessages">
                    {{message}}
                </li>
            </ul>

            <form ng-submit="controller.register()">
                <div class="form-group">
                    <label>User Name</label>
                    <input class="form-control control-label container" placeholder="User Name" ng-model="controller.registerUser.userName" />
                </div>
                <br />
                <div class="form-group">
                    <label>Password</label>
                    <div>
                        <input id="registerPassword" class="form-control control-label container" type="password" placeholder="Password" ng-model="controller.registerUser.password" />
                        <input id="confirmPassword" class="form-control control-label container" type="password" placeholder="Confirm Password" ng-model="controller.registerUser.confirmPassword" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control control-label container" placeholder="Email" ng-model="controller.registerUser.email" />
                </div>
                <br />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control control-label container" placeholder="First Name" ng-model="controller.registerUser.firstName " />
                    <input class="form-control control-label container" placeholder="Last Name" ng-model="controller.registerUser.lastName" />
                </div>
                <br />
                <div class="form-group">
                    <label>Zip Code</label>
                    <input class="form-control control-label container" placeholder="Zip Code" ng-model="controller.registerUser.location" />
                </div>
                <br />
                <div class="form-group">
                    <label>Employer</label>
                    <input class="form-control control-label container" placeholder="Employer" ng-model="controller.registerUser.employer" />
                </div>
                <br />
                <div class="form-group">
                    <label>Job Title</label>
                    <input class="form-control control-label container" placeholder="Job Title" ng-model="controller.registerUser.currentJobTitle" />
                </div>
                <br />
                <input class="btn btn-primary" type="submit" value="Register" />
            </form>

        </fieldset>
    </div>
</div>
