﻿<div class="top-padding70">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-3">
                <h2>Activities</h2>
            </div>
            <div class="col-md-7 toppadding20">
                <input class="form-control control-label container searchFilter" name="search" type="text" placeholder="Search for activity" ng-model="searchTerm" />
            </div>
        </div>
        <br />
        <div>
            <a href="/activity/add" class="btn btn-primary">Post Activity</a>
        </div>
        <br />
        <div class="jumbotron" ng-repeat="a in controller.activities | filter: searchTerm">
            <div class="media-left">
                <center>
                    <img class="img-circle media-object activityProfileImg" ng-src="https://www.gravatar.com/avatar/{{a.userImage}}?r=g&d=identicon" />
                    <h5>{{a.userName}}</h5>
                </center>
            </div>
            <div class="media-body mediaBodyCenter">
                <center>
                    <h4 class="media-heading">{{a.activity}}</h4>
                    {{a.description}}
                    <br />
                    <a ng-href="http://maps.google.com/maps/place/{{controller.urlEncodeAddress(a.address)}}/" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>
                    {{a.address}}
                    {{a.location}}
                </center>
            </div>
            <div ng-show="account.getUserName()==a.userName" class="media-bottom">
                <a href="/activity/edit/{{a.id}}"><span class="glyphicon glyphicon-pencil media-right"></span></a>
                <a href="/activity/delete/{{a.id}}"><span class="glyphicon glyphicon-trash media-right"></span></a>
            </div>
        </div>
    </div>
</div>