<h2>Activities</h2>
<div  class="activityFormPage">
    <form ng-submit="controller.saveActivity()">
        <div>
            <label id="activityLabel">Zip Code</label>
            <input placeholder="Zip Code" ng-model="controller.activity.location" />
            <br />
            <label>Street Address</label>
            <textarea rows="5" cols="20" type="text" ng-model="controller.activity.address"></textarea>
        </div>
        <div>
            <label id="activityLabel">Activity</label>
            <input placeholder="Activity" ng-model="controller.activity.activity" />
        </div>
        <div>
            <label id="activityLabel">Description</label>
            <textarea rows="5" cols="20" type="text" ng-model="controller.activity.description" placeholder="Description"></textarea>
        </div>
        <br />
        <input type="submit" value="Post Activity" />
    </form>
</div>