<div>
    <h2>Activities</h2>
    <form ng-submit="controller.saveActivity()">
        <div>
            <label>Zip Code</label>
            <input placeholder="Zip Code" ng-model="controller.activity.location" />
        </div>
        <div>
            <label>Activity</label>
            <input placeholder="Activity" ng-model="controller.activity.activity" />
        </div>
        <div>
            <label>Description</label>
            <textarea rows="5" cols="20" type="text" ng-model="controller.activity.description" placeholder="Description"></textarea>
        </div>
        <br />
        <input type="submit" value="Update Activity" />
    </form>
</div>