
    <div class="list-group">
        <div class="profileActivityList">
            <div class="row panel-title"><h3>Monitor Activities   <small><a href="/activity/add" class="glyphicon glyphicon-edit"></a></small></h3></div>
            <ul>
                <li class="list-group-item" ng-repeat="a in controller.activities">
                    <div class="glyphicon glyphicon-map-marker actLocation">{{a.location}}</div>
                    <a class="list-group-item" href="/activity/edit/{{a.id}}">{{a.activity}}</a> -
                    {{a.description}}

                </li>
            </ul>
        </div>
        <div class="text-right">
            <a ui-sref="activityForumAdminList"><em>See more activities</em><span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
    </div>
