<div class="calender profileList">
    <div class="heading">
        <center><h4>Appointments&nbsp;<small><a href="/calendar/addEvent"><span class="glyphicon glyphicon-plus text-success"></span></a></small></h4></center>
    </div>
    <ul class="list-group">
        <li ng-repeat="event in controller.calenderEvents" class="list-group-item">
            <div class="pull-right">
                <a ng-href="/calendar/editEvent/{{event.id}}"><span class="glyphicon glyphicon-pencil text-info"></span></a>
                <a href="#" ng-click="controller.removeCalenderEvent(event.id)"><span class="glyphicon glyphicon-trash text-danger"></span></a>
            </div>
            <a ng-href="/calendar/viewEvent/{{event.id}}">{{event.name}}</a>
        </li>
    </ul>
</div>