<div class="event">
    <h2>{{controller.calendarEvent.name}}<small> on {{controller.calendarEvent.eventDate}}</small></h2>
    <div><strong>Location:</strong> {{controller.calendarEvent.location}}</div>
    <div class="actions">
        <a ng-href="/admin/calendar/editEvent/{{controller.calendarEvent.id}}" class="btn btn-info">Edit Event</a>
        <form>
            <fieldset>
                <legend>Share This Event</legend>
                <select name="shareWithUserName" id="shareWithUserName" ng-model="controller.shareWithUserName">
                    <option ng-repeat="user in controller.pulldownUsers" value="{{user.userName}}">{{user.userName}}</option>
                </select>
                <button class="btn btn-success" ng-click="controller.shareThisEvent()">Share!</button>
            </fieldset>
        </form>
    </div>

</div>