﻿<div class="top-padding70">
    <div class="col-md-6 col-md-offset-3">
        <fieldset class="jumbotron">
            <h2>{{controller.calendarEvent.name}}<small> on {{controller.calendarEvent.eventDate}}</small></h2>
            <div><strong>Location:</strong> {{controller.calendarEvent.location}}</div>
            <div class="actions">
                <a ng-href="/calendar/editEvent/{{controller.calendarEvent.id}}" class="btn btn-info">Edit Event</a>
                <div class="shareEvents" ng-if="controller.calendarEvent.ownerName == account.getUserName()">
                    <form>
                        <fieldset>
                            <legend>Share This Event</legend>
                            <select name="shareWithUserName" id="shareWithUserName" ng-model="controller.shareWithUserName">
                                <option ng-repeat="user in controller.pulldownUsers" value="{{user.userName}}">{{user.userName}}</option>
                            </select>
                            <button class="btn btn-success" ng-click="controller.shareThisEvent()">Share!</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
</div>
