﻿<div class="top-padding70">
    <div class="col-md-6 col-md-offset-3">
        <fieldset class="jumbotron">
            <h3>Appointment Details</h3>
            <h5><span class="glyphicon glyphicon-calendar"></span> {{controller.calendarEvent.name}}<small> on {{controller.calendarEvent.eventDate}}</small></h5>
            <h5><span class="glyphicon glyphicon-map-marker"></span><strong>Location:</strong> {{controller.calendarEvent.location}}</h5>
            <div class="actions">
                <a ng-href="/calendar/editEvent/{{controller.calendarEvent.id}}" class="btn btn-info" ng-if="account.getUserName()==post.userName">Edit Event</a>
                <div class="shareEvents" ng-if="controller.calendarEvent.ownerName == account.getUserName()">
                    <form class="form form-horizontal">
                        <fieldset>
                            <legend>Share This Event</legend>
                            <select name="shareWithUserName" class="form-control" id="shareWithUserName" ng-model="controller.shareWithUserName">
                                <option ng-repeat="user in controller.pulldownUsers" value="{{user.userName}}">{{user.userName}}</option>
                            </select>
                            <button class="btn btn-default" ng-click="controller.shareThisEvent()">Share!</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
</div>
