<div class="profileConnectionsList">
    <div id="connectionsPannel">
        <div class="heading">
        <center><h4>Connections&nbsp;<small><a href="/search"><span class="glyphicon glyphicon-plus text-success"></span></a></small></h4></center>
        </div>
        <ul class="list-group">
            <li class="list-group-item"  id="connectionsList" ng-repeat="c in controller.connections">
                <!--{{c.userName}} --->
                {{c.firstName}}&nbsp;
                {{c.lastName}}
                <a href="#" ng-click="controller.removeConnection(c.id)" class="text-right"><span class="glyphicon glyphicon-trash pull-right text-danger"></span></a>
            </li>
        </ul>
    </div>
</div>