﻿<h1>Manage Connections</h1>

<label>Search</label>
<input type="text" placeholder="Search for a connection" ng-model="searchTerm" />

<div class="gridGroup" ng-repeat="user in controller.users | filter: searchTerm">

    <div class="col span_1_of_7">
        <div class="divBG"><span class="panelGlyph glyphicon glyphicon-user"></span></div>
        <div class="list-group">
            <div class="profileImage pull-right"><img ng-src="https://www.gravatar.com/avatar/{{controller.user.userImage}}?r=g&d=identicon" id="gravatarImg" class="img-circle" /></div>
            UserName:  {{user.userName}} <br />
            Name:  {{user.firstName}} {{user.lastName}}<br />
            Email:  {{user.email}}<br />
        </div>
        <div class="list-group">
            Location:  {{user.location}}<br />
            Current Job Title:  {{user.currentJobTitle}}<br />
            Employer:  {{user.employer}}<br />
        </div>
        <div class="list-group row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"><button ng-click="controller.reqConnect(user.userName)">Connect</button></div>
        </div>
    </div>
</div>
