body{
  
}
#textBody{

    color:#b83a07;
    background-color:#e4ae6e;
}

.inboxPanel {

   border-radius: 15px 50px;
   border-width:5px;  
    border-style:outset;
    font-size: 1.25em;
     width: 25%;
     border: 1px solid #e4ae6e;
     box-shadow: 5px 5px 5px #b6d6c0;
     float: left;
    margin: 5px;
    
 }
 
 .inboxPanelGlyph { font-size: 20px; } 
 .inboxPanel .panel-heading a { color: #000; }
 .inboxPanel .panel-heading strong { color: #000; }
 .inboxPanel .panel-default { padding: 5px; font-size: 0.75em; }
 .inboxPanel .panel-default h4 { border-bottom: 1px solid #b83a07; }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}