/*Here is the color palette that are to be used throughout the project*/
DarkRed: #b70100
FireBrick: #b83a07
SandyBrown: #e4ae6e
DarkGray: #97a89e
DarkSeaGreen: #7ba790
DimGray: #58795a
/*This has also been pinned to the #groupproject channel on slack*/