@import url(colorSchemeReference.css);
@import url(panels.css);
@import url(gradients.css);
@import url(toggleSwitch.css);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body, html {
    height: 100%;
    padding-top: 20px;
}

.spirax { font-family: 'Spirax', cursive; }

.shadow 
{
    box-shadow: 10px 10px 5px grey;
}

ul
{
    list-style:none;
}


p
{
    color:black;
}



#glyphButton
{
   cursor:pointer;
}
#mailImg
{
    padding-right:5px; 
    display:inline;
        
}

/*  Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container
{
    width:100%;
    display:block;
  
}


/* --------navbar-------------- */
.navbar
{
    padding:0;
    margin:0;
}



/*  Wrapping element 
 Set some basic padding to keep content from hitting the edges */
.body-content {
   
}

/* Set widths on the form inputs since otherwise they're 100% wide  */
input,
textarea,
select {
    width: auto;
}

.toppadding20 { padding-top: 20px; }
.topmargin05 { margin-top: 5px; }

/* ---- Homepage ---- */
.parallax {
    height: 100%;
    width: 100%;
    /* parallax affect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img01 {background-image: url("/images/parallax/womanfrustrated.jpg");}
.img02 { background-image: url("/images/parallax/reading-to-baby.jpg"); }
.img03 { background-image: url("/images/parallax/women-in-group.jpg"); }

.slider01 { background-color: #eaebef; padding: 20px 10px; text-align: center; }
.slider02 { background-color: #b83a07; padding: 30px 15px; text-align: center; color: #fff; }
.slider02 h2 { color: #fff; }

/* styles form different formats */

@media (min-width:320px)  {  /*smartphones, iPhone, portrait 480x320 phones*/  }
@media (min-width:481px)  {  /*portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide*/  }
@media (min-width:641px)  {  /* tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  {  /*tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) {  /*big landscape tablets, laptops, and desktops*/  }
@media (min-width:1281px) {  /*-res laptops and desktops */ }

.adminSlide {
    margin-top: 5px;
    text-align:center;
    vertical-align:middle;
}

