<html ng-app="WoMoCo">
<head>
    <title>WoMoCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--  theme -->
    <link href="~/css/bootswatch.css" rel="stylesheet" />
    <!---google Fonts-->
    <!--CSS Style Sheets-->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/FrontEnd/navBar.css" rel="stylesheet" />
    <link href="~/css/FrontEnd/posts.css" rel="stylesheet"/>
    <link href="~/css/colorSchemeReference.css" rel="stylesheet" />
    <link href="~/css/FrontEnd/search.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <nav class="navbar navbar-default backgroundFireBrick" id="navBar" ng-controller="CounterController as counter">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img  id="logoLetters" src="~/images/womoco.png" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a id="Search" href="/about">About <span class="sr-only"></span></a></li>
                    <li><a id="Search" href="/search">Search</a></li>
                    <li><a id="Search" href="/babySitterlink">BabySitterLink</a></li>
                    <li><a id="Search" href="/activityForum" ng-show="account.isLoggedIn()">Activities</a></li>
                    <li><a id="Search" href="/post">Post</a></li>
                    <li><a id="Search" href="/editingPost">EditingPost</a></li>
                    <li><a id="Search" href="/message/modal/messageModal">Message Modal</a></li>
                    <li class="dropdown">
                        <a id="adminMenu" href="#" class="dropdown-toggle search" data-toggle="dropdown" role="button" aria-expanded="false">Admin Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin/activity/list">Activity Posts</a></li>
                        </ul>
                    </li>
                    <li><a id="Search" href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="Search" href="/message/inbox"><span class="glyphicon glyphicon-envelope"></span><span class="badge ">{{counter.newMessageCount}}</span></a></li>
                    <li class="dropdown">
                        <a id="Search" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="/profile" ng-show="account.isLoggedIn()">Profile </a></li>
                            <li><a href="/message/inbox">Inbox</a></li>
                            <li><a href="/message/message">Message</a></li>
                            <li class="divider"></li>
                            <li><a href="/login" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
        </nav>
    <div class="container">

        <ui-view></ui-view>
    </div>

    @*/ <a href="/secret">Secret</a>*@

    <!-- Library Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
   
    
    <!-- App Files-->
    
  
    <script src="/ngApp/app.js"></script>
    <script src="/ngApp/controllers/controllers.js"></script>
    <script src="/ngApp/services/services.js"></script>
    <script src="~/ngApp/services/utilities.js"></script>
    <script src="~/ngApp/controllers/calendarEventsController.js"></script>
    <script src="~/ngApp/services/calendarEventsService.js"></script>
    <script src="~/ngApp/controllers/userController.js"></script>
    <script src="~/ngApp/controllers/createMessageController.js"></script>
    <script src="~/ngApp/controllers/messageController.js"></script>
    <script src="~/ngApp/services/messageService.js"></script>
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/chatController.js"></script>
    <script src="~/ngApp/controllers/deleteMessageController.js"></script>
    <script src="~/ngApp/controllers/infoMessageController.js"></script>
    <script src="~/ngApp/services/eventAlarmService.js"></script>
    <script src="~/ngApp/controllers/eventAlarmController.js"></script>
    <script src="~/ngApp/controllers/searchController.js"></script>
    <script src="~/ngApp/services/searchService.js"></script>
    <script src="~/ngApp/services/connectionService.js"></script>
    <script src="~/ngApp/services/postService.js"></script>
    <script src="~/ngApp/controllers/CounterController.js"></script>

    <!-- Security -->
    <script src="/ngApp/controllers/accountcontroller.js"></script>
    <script src="/ngApp/services/accountservice.js"></script>

    <!-- Interest -->
    <script src="~/ngApp/controllers/InterestController.js"></script>
    <script src="~/ngApp/services/interestService.js"></script>

    <!-- Link -->
    <script src="~/ngApp/controllers/linkController.js"></script>
    <script src="~/ngApp/services/linkService.js"></script>

    <!-- Baby Sitter Link -->
    <script src="~/ngApp/controllers/babySitterController.js"></script>

    <!-- ActivityForum-->
    <script src="~/ngApp/controllers/activitiesController.js"></script>
    <script src="~/ngApp/services/activitiesService.js"></script>

</body>
</html>
