<html ng-app="WoMoCo">
<head>
    <title>WoMoCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--  theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css">
    <base href="/" />
    <!---google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/chat.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div class="container">
        <h1>WoMoCo</h1>
        <div>
          <a href="/">Home</a> /
           <a href="/about">About</a> /
            <a href="/interest">Interest</a> /
            <a href="/admin/calender/allEvents"  ng-show="account.isLoggedIn()">Event Admin</a>
            <a href="/profile">Profile</a>
           <a href="/about">About</a>|
            <a href="/interest">Interest</a>|
            <a href="/message/inbox"> Inbox</a>|
            <a href="/message/message">Message</a>|
            <a href="/message/modal/messageModal">Message Modal</a>
            <a href="/link">Link</a> /

           | <a href="/secret">Secret</a> /
           <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
           <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
           <div ng-show="account.isLoggedIn()">
               [{{account.getUserName()}}]
           </div>
        </div>
        <hr />

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    <script src="~/lib/angular-filepicker/dist/angular_filepicker.js"></script>


    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>
    <script src="~/ngApp/controllers/calenderEventsController.js"></script>
    <script src="~/ngApp/services/calenderEventsService.js"></script>
    <script src="~/ngApp/controllers/userController.js"></script>



    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

    <!-- Interest -->
    <script src="~/ngapp/controllers/InterestController.js"></script>

    <!-- Link -->
    <script src="~/ngapp/controllers/linkController.js"></script>

</body>
</html>
