<html ng-app="WoMoCo" ng-cloak>
<head>
    <title>WoMoCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!--  theme -->
    <link href="~/css/bootswatch.css" rel="stylesheet" />
    <!---google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <!--CSS Style Sheets-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/FrontEnd/navBar.css" rel="stylesheet" />
    <link href="~/css/FrontEnd/posts.css" rel="stylesheet" />
    <link href="~/css/colorSchemeReference.css" rel="stylesheet" />
    <link href="~/css/FrontEnd/search.css" rel="stylesheet" />
    <link href="~/css/FrontEnd/babySitter.css" rel="stylesheet" />
    <link href="~/css/adminCss/admindeestyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/FrontEnd/profile.css" rel="stylesheet" />

    <!-- do not put any stylesheets below this -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <base href="/" />

</head>
<body ng-controller="AccountController as account">
    <nav class="navbar navbar-fixed-top navbar-default backgroundDarkRed gradientTransToWhite" id="navBar" ng-controller="CounterController as counter">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img  id="logoLetters" src="/images/womoco.png" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About <span class="sr-only"></span></a></li>
                    <li><a href="/babySitterlink">BabySitterLink</a></li>
                    <li ng-show="account.isLoggedIn()"><a href="/search">Search</a></li>
                    <li ng-show="account.isLoggedIn()"><a href="/activity">Activities</a></li>
                    <li ng-show="account.isLoggedIn()"><a href="/post">View Public Posts</a></li>
                    <li><a id="login" href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-show="!account.getClaim('isAdmin')">
                        <a id="adminMenu" href="#" class="dropdown-toggle search" data-toggle="dropdown" role="button" aria-expanded="false">Admin Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin">AdminPage</a></li>
                            <li><a href="/admin/user/list">Users</a></li>
                            <li><a href="/admin/activity/list">Activity Posts</a></li>
                            <li><a href="/admin/interest">Interests</a></li>
                            <li><a href="/admin/links">User Social Links</a></li>
                            <li><a href="/admin/post">Posts</a></li>
                            <li><a href="/admin/messages">Messages</a></li>
                        </ul>
                    </li>
                    <li ng-show="account.isLoggedIn()"><a id="inbox" href="/message/inbox"><span class="glyphicon glyphicon-envelope"></span><span class="badge" ng-if="counter.newMessageCount < 0">{{counter.newMessageCount}}</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="/profile" ng-show="account.isLoggedIn()">Profile </a></li>
                            <li><a href="/message/inbox" ng-show="account.isLoggedIn()">Inbox</a></li>
                            <li><a id="login" href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
                            <li class="divider"></li>
                            <li><a href="/login" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ui-view></ui-view>

    </div>
    <div ng-include="'/ngApp/views/footer.html'" class="navbar-fixed-bottom" @*id="removeClass"*@></div>

    
    


    @*/ <a href="/secret">Secret</a>*@

    <!-- Library Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngApp/app.js"></script>
    <script src="/ngApp/controllers/controllers.js"></script>
    <script src="/ngApp/services/services.js"></script>
    <!--Calendar Events-->
    <script src="~/ngApp/services/utilities.js"></script>
    <script src="~/ngApp/controllers/calendarEventsController.js"></script>
    <script src="~/ngApp/services/calendarEventsService.js"></script>
    <script src="~/ngApp/services/eventAlarmService.js"></script>
    <script src="~/ngApp/controllers/eventAlarmController.js"></script>
    <!-- User-->
    <script src="~/ngApp/controllers/userController.js"></script>
    <!-- Messages -->
    <script src="~/ngApp/controllers/createMessageController.js"></script>
    <script src="~/ngApp/controllers/messageController.js"></script>
    <script src="~/ngApp/services/messageService.js"></script>
    <script src="~/ngApp/controllers/infoMessageController.js"></script>
    <script src="~/ngApp/controllers/deleteMessageController.js"></script>
    <script src="~/ngApp/controllers/inboxController.js"></script>
    <script src="~/ngApp/controllers/CounterController.js"></script>
    <script src="~/ngApp/services/commService.js"></script>
    <!-- Posts -->
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/chatController.js"></script>
    <script src="~/ngApp/services/postService.js"></script>
    <script src="~/ngApp/controllers/AdminPostDeleteController.js"></script>
    <!-- Search -->
    <script src="~/ngApp/controllers/searchController.js"></script>
    <script src="~/ngApp/services/searchService.js"></script>
    <script src="~/ngApp/services/connectionService.js"></script>
    <script src="~/ngApp/controllers/adminController.js"></script>

    <!-- Security -->
    <script src="/ngApp/controllers/accountcontroller.js"></script>
    <script src="/ngApp/services/accountservice.js"></script>
    <!-- Interest -->
    <script src="~/ngApp/controllers/InterestController.js"></script>
    <script src="~/ngApp/services/interestService.js"></script>
    <!-- Link -->
    <script src="~/ngApp/controllers/linkController.js"></script>
    <script src="~/ngApp/services/linkService.js"></script>
    <!-- Baby Sitter Link -->
    <script src="~/ngApp/controllers/babySitterController.js"></script>
    <!-- ActivityForum-->
    <script src="~/ngApp/controllers/activitiesController.js"></script>
    <script src="~/ngApp/services/activitiesService.js"></script>
    
</body>
</html>
