<html ng-app="WoMoCo">
<head>
    <title>WoMoCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!--  theme -->
    <base href="/" />
    <!---google Fonts-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/colorSchemeReference.css" rel="stylesheet" type="text/css" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div class="container">
        <h1>WoMoCo</h1>
        <div>
          <a href="/">Home</a> /
           <a href="/about">About</a> /
            <a href="/search">Search</a> /
            <a href="/babySitterlink">BabySitterLink</a> /

            <!-- Logged In -->
            <a href="/activityForum" ng-show="account.isLoggedIn()">(l) Activities /</a>
            <a href="/post">(l) Post</a>/
            <a href="/editingPost">(l) EditingPost</a>
            <a href="/message/inbox">(l) Inbox</a>|
            <a href="/message/message">(l) Message</a>/
            <a href="/message/modal/messageModal">(l) Message Modal</a>
            <a href="/profile" ng-show="account.isLoggedIn()">Profile /</a>

            <!-- Admin -->
            <a href="/link">(a) Link</a> /
            <a href="/interest">(a) Interest</a>|
            <a href="/admin/calendar/allEvents" ng-show="account.isLoggedIn()">(a) Event Admin</a>
           <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
           <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
           <div ng-show="account.isLoggedIn()">
               [{{account.getUserName()}}]
           </div>
        </div>
        <hr />

        <ui-view></ui-view>
    </div>

    @*/ <a href="/secret">Secret</a>*@

    <!-- Library Files -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- App Files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/ngApp/app.js"></script>
    <script src="/ngApp/controllers/controllers.js"></script>
    <script src="/ngApp/services/services.js"></script>
    <script src="~/ngApp/services/utilities.js"></script>
    <script src="~/ngApp/controllers/calendarEventsController.js"></script>
    <script src="~/ngApp/services/calendarEventsService.js"></script>
    <script src="~/ngApp/controllers/userController.js"></script>
    <script src="~/ngApp/controllers/createMessageController.js"></script>
    <script src="~/ngApp/controllers/messageController.js"></script>
    <script src="~/ngApp/services/messageService.js"></script>
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/chatController.js"></script>
    <script src="~/ngApp/controllers/deleteMessageController.js"></script>
    <script src="~/ngApp/controllers/infoMessageController.js"></script>
    <script src="~/ngApp/services/eventAlarmService.js"></script>
    <script src="~/ngApp/controllers/eventAlarmController.js"></script>
    <script src="~/ngApp/controllers/searchController.js"></script>
    <script src="~/ngApp/services/searchService.js"></script>
    <script src="~/ngApp/services/connectionService.js"></script>
    <script src="~/ngApp/services/postService.js"></script>

    <!-- Security -->
    <script src="/ngApp/controllers/accountcontroller.js"></script>
    <script src="/ngApp/services/accountservice.js"></script>

    <!-- Interest -->
    <script src="~/ngApp/controllers/InterestController.js"></script>
    <script src="~/ngApp/services/interestService.js"></script>

    <!-- Link -->
    <script src="~/ngApp/controllers/linkController.js"></script>
    <script src="~/ngApp/services/linkService.js"></script>

    <!-- Baby Sitter Link -->
    <script src="~/ngApp/controllers/babySitterController.js"></script>

    <!-- ActivityForum-->
    <script src="~/ngApp/controllers/activitiesController.js"></script>
    <script src="~/ngApp/services/activitiesService.js"></script>

</body>
</html>
