<div class="deleteEvent">
    <p class="alert-danger">Are you sure you wish to delete {{controller.calenderEvent.name}}, scheduled for {{controller.calenderEvent.eventDateTime|date:"medium"}}?</p>
    <p class="alert-warning">ToDo: list alerts that will be deleted</p>
    <p class="alert-warning">ToDo: list shared people who will have it deleted? (Do we want to auto-generate a message from this person that the event was deleted?)</p>
    <div class="actionButtons">
        <button class="btn btn-danger" ng-click="controller.deleteCalenderEvent()">Yes - Delete this {{controller.calenderEvent.eventType}}</button>
    </div>
</div>