<h2>Events Admin List</h2>
<p>This page has a list of all the events in the database. Filtering will be needed and added in a bit.</p>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Event Name</th>
            <th>Event Owner</th>
            <th>Event Time</th>
            <th>Event Created</th>
            <th>Event Location</th>
            <th>Active Status</th>
            <th>Actions</th>
            <th><a href="/admin/calender/addEvent" class="btn btn-success">Add</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in controller.calenderEvents">
            <td></td>
            <td><a ng-href="/calender/viewEvent/{{event.id}}">{{event.name}}</a></td>
            <td>{{event.ownerName}}</td>
            <td>{{event.eventDateTime|date:'medium'}}</td>
            <td>{{event.createdDate|date:'medium'}}</td>
            <td>{{event.location}}</td>
            <td>{{event.isActive}}</td>
            <td colspan="2">
                <a ng-href="/admin/calender/editEvent/{{event.id}}" class="btn btn-info">edit</a> 
                <a ng-href="/admin/calender/deleteEvent/{{event.id}}" class="btn btn-danger">delete</a>
            </td>
        </tr>
    </tbody>
</table>