.sitterpage{
    background: linear-gradient(rgba(255, 255, 255, 0.00), white),
        url("../../images/babysitting.jpg");
    /*background-image: url("../../images/babysitting.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*#babysitter {
    background-image: url("../../images/babysitting.jpg");
    background-size: initial;*/
#babysittertable {
    background-color: transparent;
    position: relative;
    top: 175px;

}
#babysittericons {
    margin-bottom: 20px;
}
#iconscontainer {
    position:relative;
    top: 450px;
}
