body {
}
#navBar{
    background-image: url('/images/navbar-gradient.png');
    background-repeat: repeat-x;
}
#logoLetters{
    width:175px;
    height:50px;
    position: relative;
    bottom:10px;
}
#dropdownMenu {
    color:black
}
#Search{
    color: white;
}
