body {
}
h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
}
#posteditingbutton {
    margin-top: 13px;
    background-color: #e4ae6e;
    color: white;
}
#postdeletebutton {
    margin-top: 13px;
    background-color: #b70100;
    color: white;
}
#editpostbutton {
    margin-top: 25px
}
div.postcolumn {
    background-color: #e4ae6e;
}
#postpaneltitle {
    background-color: #97a89e;
}
div.post {
    padding: 1px; 
    background-color: #e4ae6e;
}
/*.talkingmoms {
    background-color: #97a89e; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
#column1 {
    background-color: transparent;
}
div.editingpost {
    padding: 1px;
    background-color: #97a89e;
    
}
#addpostbtn {
    background-color: Highlight;
}
#publicPostsHeader {
    background-color: #e4ae6e;
}
#publicPosts {
    border-style:solid;
    border-width: 3px;
    border-color: #e4ae6e;
}
.postPage {
    padding-top: 70px;
}
.addPostPage {
    padding-top: 70px;
}

