.profilePage {
    background-color: #e4ae6e;
    width: 100%;
    margin: 0;
    height: auto;
}
.profile #gravatarImg {
    height: 175px;
    width:175px;
    /*margin-left: 50px;*/
    margin-top: 25px;
}
.profile .leftProfileBar {
    background-color: white;
    height: auto;
    min-height: 750px;
    margin: 2%;
    margin-left:16%;
    margin-top: 4%;
    border-style: solid;
    border-width: 4px;
    border-color:#97a89e;
}
.profile .profileName {
    /*margin-left: 30px;*/
}
.profile .profileEditBtn {
    margin-top: 150px;
}
.profile .profileDeleteBtn {
    margin-top: 20px;
}
.profile #profileInterest {
    background-color: transparent;
    margin-bottom: 15px;
    margin-top: 5%
    /*background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #97a89e;
    padding:8px;
    margin-bottom: 15px;*/
}
.profile .addInterestForm {
    background-color: transparent;
    height:118px;
}
.profile #interestInput {
    margin-top: 12px;
}
.profile #interestSubmit {
    margin-top: 13px;
}
.profile .interestList {
    position: relative;
    bottom: 18px;
    background-color: transparent;
}
.profile .profileLink {
    background-color: transparent;
    padding:8px
}
.profile .linksList {
    position: relative;
    bottom: 16px
}
.profile .addLinkForm {
    background-color: transparent;
    height:150px;
}
.profile #linkInput {
    margin-top: 12px;
}
.profile #linkSubmit {
    margin-top: 13px;
}
.profile #socialName {
    margin-top: 6px;
}
.profile .connectionsHeader {
    position: relative;
    bottom: 20px;
}
.profile #connectionsPannel {
    background-color: transparent;
}
.profile .profileActivity {
    word-wrap: break-word;

}
.profile .messageenvelope {
    font-size: 200px;
    color:white;
}
.profile #activitiesPlus {
    color: green;
}
.profile .activitiesList {
    background-color: transparent;
    padding: 8px;
    margin-left: 4%;
}
.profile #profileListItem {
    background-color: transparent;
}
.profile #
 {
    background-color: white;
    margin: 1%;
    position: relative;
    left: 8%;
    border-style:solid;
    border-width: 4px;
    border-color: #97a89e;
}
.profile .interestLinks {
    margin-top: 3%;
}
.profile .connectionsEvents {
    margin-top: 3%

}
#inLittleBack {
    background-color: #f5f5f5;
}

#connectionsList:hover {
    background-color: white;
}
#connectionsList {
    background-color: transparent;
}
.editProfilePage {
    padding-top: 70px;
    padding-bottom: 800px;
}
#editProfilePencil {
    position: relative;
    bottom: 20px;
}
#editProfileAvatar:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
}
#editProfileAvatar {
    opacity: 1.0;
    filter: alpha(opacity=100);
    height: 175px;
    width:175px;
    /*margin-left: 50px;*/
    margin-top: 25px;
}
#editAvatar {
    position: relative;
    bottom: 110px;
}
.editProfileForm {
    background-color: #f5f5f5;
    border-style: ridge;
    border-width: 2px;
    border-color: #e4ae6e;
}
#editProfileInputs {
    position: relative;
    bottom: 70px;
}

