<div class="panel panel-default col-md-10 col-md-offset-1 admin">
    <div class="panel=heading">
        <h2 class="spirax colorDarkRed">Verify Deletion</h2>
    </div>
    <div class="panel-body">
        Are you sure you want to <span class="text-danger"><strong>delete</strong></span> <em>{{controller.link.userName}}</em>'s social link - {{controller.link.name}}, linking to {{controller.link.url}} ?
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" ng-click="controller.deleteLink()">Yes-Delete</button>
    </div>
</div>
