<div class="profileLink img-rounded">
    <div class="linksList">
        <center><h4>Social Links</h4></center>
        <ul>
            <li ng-repeat="link in controller.links"><a ng-href="{{link.url}}" target="_blank">{{link.name}} &nbsp;</a><a class="glyphicon glyphicon-trash pull-right text-danger" href="#" ng-click="controller.removeLink(link.id)"></a></li>
        </ul>
    </div>

    <div class="addLinkForm img-rounded">
        <form ng-submit="controller.addLink()">
            <div class="col-md-10 col-md-offset-1">
                <center><input class="form-control" id="socialName" placeholder="Social Network" ng-model="controller.link.name" /></center>
                <center><input class="form-control" id="linkInput" placeholder="Link" ng-model="controller.link.url" /></center>
            </div>
            
            <center><input id="linkSubmit" type="submit" class="btn btn-success" value="Add Link" /></center>
        </form>
    </div>
</div>