<link href="../../css/AboutStyleSheet.css" rel="stylesheet" />
<link href="../../../css/FrontEnd/navBar.css" rel="stylesheet" />
<form style="margin-top:20px">
    <div>
        <center><img src="../../images/LogoDesign-01.png" width="400" height="200" /></center>
    </div>
</form>


<div class="center-block">
    <div style="background-color:#58795a" id="navBar">
        <div class="w3-card-8">
            <center>
                <div>
                    <h1> Hiwot Demssie</h1>
                    <h4>
                        <a href="https://github.com/hdemssie/" target="_blank">GitHub</a>
                        • Phoenix, Arizona •
                        E-MAIL hiwotd83@gmail.com.com
                    </h4>
                </div>
            </center>
        </div>
    </div>
</div>

<div class="w3-card-24">
    <div class="col-lg-8 col-lg-offset-2 img-rounded" id="textBody">
        <div style="animation-fill-mode: both">


            <h2>Skills</h2>
            <h3>Languages / Frameworks</h3>
            <h4 id="textBody">Proficient</h4>
            <p>Bootstrap, CSS, HTML, jQuery, JavaScript (JS), TypeScript (TS), AngularJS, AJAX, C#, ASP.NET, WebAPI, Dependency Injection, MVC, Source Control, SPA Design, SCRUM, Agile Methodologies.</p>
            <h4 id="textBody">Continued Learning:</h4>
            <p> Mobile, Unit Testing</p>

            <h3>Technologies</h3>
            <p>
                <b>VisualStudio2015, Git, Bower, Atom, Bower, Repository Pattern</b>
            </p>
        </div>
        <h2>EDUCATION </h2>

        <h3>Arizona State University </h3>
        <h4>Bachelor of Science Electrical Engineering / Circuit Design </h4>

        <h3>Coder Camps -ASP .NET/ Full Stack </h3>

        <p>
            <b>Learned how to build web applications using Microsoft’s ASP.NET Framework and AngularJS. Acquired skills to program using C#, build database-driven web applications using ASP.NET MVC and the Entity Framework, and create richly interactive client-side apps using the JavaScript AngularJS library. Worked 60 + hours weekly on individual and team projects.</b>
        </p>



        <h2>PROJECTS</h2>
        <h3>IStore/Individual Project</h3>
        <h4> Display the Book details List from the database successfully</h4>
        <p>
            <b>		Using a data source control to Bind Data</b>
            <b>		Adding a Data control to Display the Book List</b>
            <b>   	Using one-to many relationship, ASP.NET full-CRUD</b>
        </p>
        <h3>WoMoCo/Group Project</h3>
        <h4>The WoMoCo application is a point of connection that enables the professional mother to share and gain information that helps them achieve a positive work/life balance.</h4>
        <p>
            <b> 		Handling the babysitter page front to end logic</b>
            <b> 		Creating a module using Asp.NET to identify client interest and Link</b>
            <b>    	Using many-to many relationship, user login and debugging</b> 

        </p>


        <h2>EXPERIENCE</h2>
        <h3 id="textBody">Case Manager, SB&H</h3>

        <h3 id="textBody">System Enginner, Electron International </h3>

        <h4>Tested ARJ 21 flight control modules proper integration and data flow through the modules. SIMULINK and State Flow are the major technologies used for the project.</h4>
        <p>
            <b> 	Handling the babysitter page front to end logic</b>
            <b> 	Creating a module using Asp.NET to identify client interest and Link</b>

        </p>
    </div>
</div>
