<link href="../../css/AboutStyleSheet.css" rel="stylesheet" />
<link href="../../../css/FrontEnd/navBar.css" rel="stylesheet" />
<form style="margin-top:20px">
    <div>
        <center><img src="../../images/LogoDesign-01.png" width="400" height="200" /></center>
    </div>
</form>


<div class="center-block">
    <div style="background-color:#58795a" id="navBar">
        <div class="w3-card-8">
            <center>
                <div>
                    <h1>Josh Schmuck</h1>
                    <h4>
                        <a href="https://github.com/drehmke/" target="_blank">GitHub</a>
                        • Phoenix, Arizona •
                        E-MAIL josh.schmuck@gmail.com
                    </h4>
                </div>
            </center>
        </div>
    </div>
</div>

<div class="w3-card-24">
    <div class="col-lg-8 col-lg-offset-2 img-rounded" id="textBody">
        <div style="animation-fill-mode:both">










        </div>
    </div>
</div>