<link href="../../css/AboutStyleSheet.css" rel="stylesheet" />

<h1> Stephen C. Boatman</h1>
<a href="https://github.com/scboatman/">GitHub</a>
• Phoenix, Arizona • 
E-MAIL scboatman@outlook.com


<div id="textBody">
    <div style="animation-fill-mode:both">
   <h2>Skills:</h2>  
        <h3>Languages / Frameworks:</h3>
    <h4 id="textBody">Proficient:</h4>
        <p> Bootstrap, CSS, HTML, JavaScript (JS), TypeScript (TS), AngularJS, AJAX, C#, .NET Framework, .NET Core, ASP.NET, WebAPI</p>
    <h4 id="textBody">Continued Learning:</h4>
        <p> Es6, Entity Framework, Identity Framework, MS Azure</p>

    <h3>Technologies:</h3>
    <p>VisualStudio2015, SQL Server, Git, 4 Layer Architecture, Bower, Atom, Dependency Injection, Repository Pattern, SAP, HP Quality Center (ALM)</p>

    <h3>Other Skills:</h3>
    <p>Agile and Waterfall Methodologies, SCRUM, Unit Testing</p>
</div>
<h2>EDUCATION:</h2>	
    <h3>Coder Camps -ASP .NET/ Full Stack:</h3> 		

	<p>Learned how to build web applications using Microsoft’s ASP.NET Framework and AngularJS. Acquired skills to program using C#, build database-driven web applications using ASP.NET MVC and the Entity Framework, and create richly interactive client-side apps using the JavaScript AngularJS library. Worked 60 + hours weekly on individual and team projects.</p>

	<h3>Grand Canyon University:</h3>
	<h4>Master’s Degree in Leadership</h4> 			
	<h4>Bachelors of Science in Business</h4> 			       

<h2>PROJECTS</h2>	
    <h3>LoadShare/Individual Project</h3>
<h4>The LoadShare application allows shippers and truck drivers to connect and develop relationships around the transportation of difficult to place loads.</h4>
	<p>	Addressed real world business need
	Created UI
	Created Database from scratch
	Full CRUD, Visual Studio2015, SQL Server</p>

<h4>The WoMoCo application is a point of connection that enables the professional mother to share and gain information that helps them achieve a positive work/life balance.</h4>
<p>	Managed Team Project
	Agile/Scrum Project Management Methodology
	Overcame GitHub repository conflicts
	Created Many-to-Many database relationship

</p>


<h2>EXPERIENCE</h2> 
    <h3 id="textBody">Extensive work experience with solid successful organizations.</h3>

<h4>SAP Business Analyst, Avnet, Inc.</h4> 		                                         
<p>Extensive sales and business analysis activities.</p>

<h4>Safety Officer/ Sr. Process Operator, Bristol-Myers, Squibb</h4>    	
<p>Process, project management skills and validation methodologies were developed over 15 years of employment.</p>

<h4>Electronic Technician, US Air Force </h4>                                          	
<p>Electronic, program management and leadership experience.</p> 
</div>